@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply bg-slate-950 text-slate-100;
  /* Now controllable via tailwind.config.js */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-sky-500;
}